In [1]:
import numpy as np
import scipy
import pandas
import math

import io, os, sys, types
from IPython import get_ipython
from nbformat import read
from IPython.core.interactiveshell import InteractiveShell

import statsmodels

In [2]:
print('Good afternoon, Matt!')

Good afternoon, Matt!

In [3]:
x=7
y=x
x=3
print(x,",",y)

3 , 7

In [4]:
i = 0
while i < 10:
    print(i)
    i+=1

0
1
2
3
4
5
6
7
8
9

In [5]:
for i in range(0,10):
    if i % 2==0:  #conditional
        print(i)

0
2
4
6
8

In [7]:
print(0-2)

-2

In [8]:
def swap(val1, val2):
    tmp = val1 #tmp = 6
    val1 = val2 #val1 = 3
    val2 = tmp #val2 = 6
    
x = 6
y = 3
swap(x, y)  #swap (6,3)
print(x,", ",y) #print()

6 ,  3

In [9]:
def my_abs(val):
    if val < 0:
        return 0-val
    return val

In [10]:
my_abs(-2)

2

In [12]:
'1' + '2' #concat

'12'

In [13]:
'Hi' + ' there!'

'Hi there!'

In [14]:
'12'*2 #replicate

'1212'

In [15]:
s = '   Extras \n'

In [16]:
s.strip()

'Extras'

In [17]:
s = '***10***'
s.strip('*')

'10'

In [18]:
s.split(',')

['***10***']

In [19]:
s = 'Jane,Doe,Cars,5'

In [20]:
s.split(',')

['Jane', 'Doe', 'Cars', '5']

In [21]:
word = 'Hello'
word[2:4]  #slicing

'll'

In [22]:
a='1234'

In [23]:
float(a)

1234.0

In [24]:
list = [11,22,33]

In [25]:
for i in list:   #preferable to the one below. lists are mutable, can be appended to,
    print(i)

11
22
33

In [26]:
for i in range(0,len(list)):
    print(list[i])

11
22
33

In [27]:
list.append(44)

In [28]:
list

[11, 22, 33, 44]

In [29]:
list.pop(0)   #pop removes a value by index.

11

In [30]:
list

[22, 33, 44]

In [31]:
list.remove(33)  #list removes a value by value.

In [32]:
list

[22, 44]

In [33]:
a = [1,2,3]

In [34]:
b = [4,5,6]

In [35]:
a.extend(b)

In [36]:
print(a)

[1, 2, 3, 4, 5, 6]

In [37]:
c=[2]

In [38]:
c.append(a)

In [39]:
c

[2, [1, 2, 3, 4, 5, 6]]

In [43]:
len(c)

2

In [46]:
a=[1,2,3]

In [49]:
len(a)

3

In [50]:
type(c)

list

In [53]:
type(a)

list

In [54]:
list = [1,2,3]
list2 = [4,5,6]

In [55]:
for x,y in zip(list,list2):
    print(x,",",y)

1 , 4
2 , 5
3 , 6

In [56]:
list

[1, 2, 3]

In [57]:
type(list)

list

In [58]:
len(list)

3

In [59]:
x = [10,20,30]
y = x
x[1] = 42
print(y)

[10, 42, 30]

In [60]:
type(x)

list

In [61]:
tupel1 = (1,2,3)

In [62]:
type(tupel1)

tuple

In [63]:
x = np.array([[1, 2, 3], [4, 5, 6]], np.int32)

In [64]:
len(x)

2

In [65]:
type(x)

numpy.ndarray

In [66]:
len(x[1])

3

In [67]:
x[1,2]

6

In [69]:
#def combintation_sum(database)

In [70]:
math.factorial(5)

120

In [71]:
cutoff = 50000;
e = 0;

for i in range (0,cutoff):
     temp = 1/(math.factorial(i));
     e = e + temp;

print(e)

2.7182818284590455

In [75]:
math.exp(1)

2.718281828459045

In [72]:
e-math.exp(1)

4.440892098500626e-16

In [73]:
#multiple linear regression function